body {
    font-family: Georgia, serif;
    background-color: #f09b93;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9e8d9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

h2 {
    text-align: justify;
    color: black;
    text-decoration: underline;
}

h3 {
    text-align: justify;
    color: black;
    text-decoration: underline;
}

.info-box {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th,
.info-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}

.info-table th {
    background-color: #f09b93;
    color: black;
}

p {
    text-align: right;
    color: black;
}

hr {
    border: none;
}

.friend-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 390px;
    height: auto;
    border-radius: 5px;
}

h4 {
    text-align: left;
    text-decoration: underline;
}